@import "tailwindcss";

:root {
  --foreground: #000000;
  --background: #ffffff;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
